@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Dosis:wght@200;300;400;500;600&family=Inter:wght@300;600&family=Lato:wght@100;400&family=Mohave:ital,wght@1,500&family=Outfit:wght@400;800&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300;400&display=swap');

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 17.75rem;
	padding: 0.938rem;
	border-radius: 1rem;
    height: auto;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0px 0px 10px 5px hsla(0, 0%, 0%, 0.03); 
}

img {
	max-width: 100%;
	border-radius: 0.7rem;
}

h1 {
	width: 90%;
	margin: 1.5rem 0 0;
	font-size: 22px;
	font-weight: bold;
	color: hsl(218, 44%, 22%);
}

.paragraph-card {
	width: 90%;
	font-size: 15px;
	color: hsl(220, 15%, 55%);
}

.footer-paragraph {
	margin: 1.5rem;
}
